<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="./assets/AIA-logo.png" rel="apple-touch-icon">
    <link href="./assets/favicon.ico" rel="icon">


    <title>AI ArtTech Lab Official website</title>

    <link href="./css/main.82cfd66e.css" rel="stylesheet">
</head>

<body>

    <!-- Add your content of header -->
    <header class="">

        <div class="navbar navbar-default visible-xs">
            <button type="button" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="./about.html" class="navbar-brand">AI ArtTech Lab</a>
        </div>

        <nav class="sidebar">
            <div class="navbar-collapse" id="navbar-collapse">
                <div class="site-header hidden-xs">
                    <a class="site-brand" href="./main_page.html" title="">
                        <img class="img-responsive site-logo" alt="" src="./assets/images/logo/team_Logo(已去底).png">
                        <p>
                            <font size="6">東海大學 <br> AI 藝術科技實驗室</font>
                        </p>
                    </a>

                </div>
                <font size="5">
                    <ul class="nav">
                        <li>
                            <a href="./main_page.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>首頁
                            </a>
                        </li>
                        <li>
                            <a href="./about.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>關於我們
                            </a>
                        </li>
                        <li>
                            <a href="./projects.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>AI藝術作品集
                            </a>
                        </li>
                        <li>
                            <a href="./2021_ai_art_exhibition.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>2021 AI．藝術．融合
                            </a>
                        </li>
                        <li>
                            <a href="./2020_ai_art_exhibition.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>2020 AI．藝術．未來
                            </a>
                        </li>
                        <li>
                            <a href="./2017_ai_art_exhibition.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>2017 數字青花
                            </a>
                        </li>
                        <li>
                            <a href="./contact.html" title="">
                                <span class="fa-icon">
                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                </span>聯絡我們
                            </a>
                        </li>
                    </ul>
                </font>
                <nav class="nav-footer">
                    <img class="img-responsive site-logo" alt="" src="./assets/images/logo/team_school_Logo(已去底).png">
                    <p>© AI ArtTech Lab Official website | Website created with <a
                            href="http://www.mashup-template.com/" title="Create website with free html template">Mashup
                            Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a>
                    </p>
                </nav>
            </div>
        </nav>

    </header>

    <!-- main -->

    <main class="" id="main-collapse">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p><img class="img-responsive" alt="" src="./assets/images/2020 藝術 AI 未來/2020藝術AI未來海報.jpeg"></p>
            </div>
            <div class="col-xs-12 col-md-6">
                <h1>藝術．AI．未來</h1>
                <h2>策展人 : </h2>
                <h2>王文海院長 東海大學 創意設計暨藝術學院</h2>
                <h2>周忠信主任 東海大學 數創學程</h2>
                <h2>策展說明 : </h2>

                <font size="4">
                    <p style="margin-left:25px;text-align: justify;text-justify: auto;">
                        人工智慧（Artificial Intelligence）的定義，就是以「人工」編寫的電腦程式，模擬出人類的「智慧」行為，
                        包含模擬人類感官的「聽音辨讀、視覺辨識」、大腦的「推理決策、理解學習」、動作類的「移動、動作控制」等行為。<br>
                        一般印象中科幻電影擁有人類智慧的機器人，或是鋼鐵人中「賈維斯」的智慧助理等，的確都屬於人工智慧的範疇，
                        但這只是其中一小部份領域，AI的應用已充斥在各種產業和我們的生活密不可分。<br>
                        而藝術和人類的經濟活動息息相關，時代轉變與科技的進展，為藝術創作打開新的可能。
                        全新領域的AI取代人類工作的議題，不只對經濟產生翻天覆地的影響，對藝術的衝擊，更超出人們的想像。
                        本專題策展「藝術．Al．未來」由創意設計與藝術學院聯合工學院數位創新研究所師生合作，是一次大膽嚐試。<br>

                        這次展出共超過30件以上A1作品；本展為台灣首次呈現AI
                        +ART，科技和藝術將變得距離我們不再那麼遙遠，除了觀者能感受AI带來的視覺響宴外，同時得以感受與AI互動帶來的創新體驗。<br>
                        <br>
                    </p>
                </font>
            </div>
        </div>

        <br><br>
        <h2 align="center">花絮</h2>
        <br>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <p><img class="img-responsive" alt=""
                        src="./assets/images/2020 藝術 AI 未來/現場照/行政院政務委員唐鳳在開幕式時雖然無法親臨現場，但也以錄影方式致詞.jpg"></p>
                <h4 align="center">行政院政務委員唐鳳在開幕式時雖然無法親臨現場，但也以錄影方式致詞 </h4>
                <p><img class="img-responsive" alt="" src="./assets/images/2020 藝術 AI 未來/現場照/策展人、藝術家及數創學程師生合影.jpg">
                </p>
                <h4 align="center">策展人、藝術家及數創學程師生合影 </h4>
            </div>
            <div class="col-xs-12 col-md-6">
                <p><img class="img-responsive" alt=""
                        src="./assets/images/2020 藝術 AI 未來/現場照/「情緒魔鏡」運用AI即時鏡射，並以強烈色彩風格創作出觀賞者畫像。.jpg"></p>
                <h4 align="center">「情緒魔鏡」運用AI即時鏡射，並以強烈色彩風格創作出觀賞者畫像。 </h4>
                <p><img class="img-responsive" alt=""
                        src="./assets/images/2020 藝術 AI 未來/現場照/藝術AI未來展藝術家合影左起邱浩修、周忠信、林文海、林鴻宇、謝翰誼.jpg"></p>
                <h4 align="center">藝術AI未來展藝術家合影左起邱浩修、周忠信、林文海、林鴻宇、謝翰誼 </h4>
            </div>
        </div>
    </main>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            navbarToggleSidebar();
            navActivePage();
        });
    </script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

-->
    <script type="text/javascript" src="./js/main.85741bff.js"></script>
</body>

</html>